.container {
    display: grid;

    gap: 1.5em;
    padding: 5%;
    padding-bottom: 2.5%;
    min-height: 6em;
    
    background: linear-gradient(to bottom, rgba(131,58,180,1), rgba(0,0,0,0) 100%);
    border-bottom: 1px solid var(--bg-forth);
}
.container > div {
    margin: auto;
}

.icon_wrapper {
    width: 50%;
    height: auto;

    background-color: rgba(255,255,255,0.3);
    border: .15em solid var(--bg-forth);
    border-radius: 50%;

    margin: auto;
    box-shadow: 0 0 0.5em 0.5em rgb(0 0 0 / 20%);
}

.settings_container {
    width: 100%;
    background-color: var(--bg-tertiary);
}
.settings_container > div {
    display: flex;
    justify-content: space-between;
}

.toggle_wrapper {
    transition: transform .5s ease-in-out;
}
.toggle_wrapper[data-toggle="true"] {
    transform: rotate(-180deg);
}