.container {
    display: grid;

    gap: 1.5em;
    padding: 5%;
    padding-bottom: 2.5%;
    min-height: 6em;
    
    background-color: #343A40;
}
.container > div {
    margin: auto;
}

.icon_wrapper {
    width: 50%;
    height: auto;

    background-color: rgba(255,255,255,0.05);
    border: .15em solid var(--bg-primary);
    border-radius: 50%;

    margin: auto;
    box-shadow: 0 0 0.5em 0.5em rgb(0 0 0 / 20%);
}

.settings_container {
    width: 100%;
    background-color: var(--bg-tertiary);
}
.settings_container > div {
    display: flex;
    justify-content: space-between;
}