.container {
	--size: 1em;

	display: flex;

	border: .1em solid var(--bg-forth);
	border-radius: .5em;

    background-color: var(--bg-primary);
	padding: var(--size);
}

.input {
	width: 100%;
	border: 0;
	padding: 0;

	background-color: var(--bg-primary);
	font-size: large;
	color: var(--color-primary);
}
.input:focus {
	outline: none;
}
.input:focus ~ .placeholder { color: var(--bg-forth); }
.input:focus ~ .placeholder, input:valid ~ .placeholder {
	transform: translateY(-1.7em);
}

.placeholder {
	position: absolute;
	transition: .12s;

	padding: 0 .5em;
	color: gray;
	font-size: large;
	background-color: var(--bg-primary);
}