.order_bar {
	display: grid;
	position: sticky;
	bottom: 0;
	left: 0;
	grid-template-columns: 1fr;
	gap: 1em;
	justify-content: center;
	align-items: center;

	width: calc(100vw - 2em);
	height: 8vh;
	padding: .5em 1em;

	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	background-color: var(--bg-tertiary);
	color: black;
}

.add_cart_btn {
	display: flex;
	justify-content: center;
	background-color: green;
	border-radius: 1em;
	color: var(--color-primary);
	padding: 1em 0;
}