.container {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    justify-content: center;
    align-items: center;
    padding: .5em 0;

    background: linear-gradient(45deg, rgba(131,58,180,1) 0%, var(--bg-secondary) 50%, rgba(252,176,69,1) 100%);
    color: var(--color-primary);
}
.container > div {
    height: 3em;
}

.logo_wrapper > a {
    display: flex;
}

.panel {
    display: flex;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, .75);
    width: 100vw;
    height: 100vh;
    transition: .3s;
    opacity: 0;
}
.panel_active {
    opacity: 1;
}
.panel > .content {
    width: calc(90% - 2.5em);
    height: 100%;
    background-color: var(--bg-primary);
    color: white;
}

.toggle_wrapper {
    width: calc(10% + 2.5em);
}

.profile {
    direction: ltr;
}