.panel {
    display: flex;
    position: fixed;

    top: 0;
    width: 100vw;
    height: 100vh;

    opacity: 0;
    transition: .3s;
    background-color: rgba(0, 0, 0, .75);
    
    z-index: 999;
}
.panel_active {
    opacity: 1;
}
.panel > .content {
    width: calc(90% - 2.5em);
    height: 100%;
    background-color: var(--bg-primary);
    color: white;

    overflow: auto;
}

.toggle_wrapper {
    width: calc(10% + 2.5em);
}

.profile {
    direction: ltr;
}

.log_out_wrapper {
    width: 50%;
}