:root {
    --size: 1.5em;
}

.container {
    width: calc(var(--size) * 2);
    height: var(--size);
    border-radius: 1.5em;
}

.value {
    width: var(--size);
    height: var(--size);
    border-radius: 1em;
    background-color: white;
}